* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --mainBlack: #002042;
  --mainLight: #fff;
  --mainGreen: #317b22;
  --mainRed: #b80c09;
  --mainBlue: #05668d;
}

body, html {
  font-family: 'Quicksand', sans-serif;
}

.app {
  position: relative;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--mainLight);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 50px 100px -30px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 50px 100px -30px rgba(0,0,0,.5);
  padding: 30px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 500px;
  align-items: center;
  overflow: hidden;
}

.container-section {
  position: inherit;
  padding: 30px;
  width: 100%;
}

.welcome-message {
  transition: 2s all ease-in-out;
  text-align: center;
}

p {
  line-height: 1.4;
  margin-top: 20px;
}

h4 {
  border-bottom: 4px solid #fff;
  display: inline-block;
}

.budget-container {
  transition: 2s all ease-in-out;
  transform: translateX(100%);
}

.slide-left-out {
  transform: translateX(-100%);
}

.slide-left-center {
  display: block;
  transform: translateX(0%);
}

button {
  padding: 10px 15px;
  margin: auto;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  background-color: #1a1a1a;
  color: #fff;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
  display: block;
}

button:hover {
  transform: translateY(-2px);
}

input {
  border-radius: 10px;
  margin-top: 15px;
  color: #fff;
  background-color: inherit;
  border: 2px solid #fff;
  padding: 15px;
  outline: none;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

ion-icon {
  vertical-align: top;
}