* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --mainBlack: #002042;
  --mainLight: #fff;
  --mainGreen: #317b22;
  --mainRed: #b80c09;
  --mainBlue: #05668d;
}

body, html {
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--mainLight);
  font-family: 'Quicksand', sans-serif;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 50px 100px -30px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 50px 100px -30px rgba(0,0,0,.5);
  padding: 30px;
  display: flex;
  align-items: center;
}

.welcome-message {
  transition: 2s all ease-in-out;
  flex-shrink: 0;
  flex-grow: 1;
  position: inherit;
}

.budget-form {
  /* display: none; */
  transition: 2s all ease-in-out;
  transform: translateX(100%);
  flex-shrink: 0;
  flex-grow: 1;
}

.slide-left-out {
  transform: translateX(-100%);
}

.slide-left-center {
  display: block;
  transform: translateX(0%);
}
